* {
  font-family: "Arial";
}
header {
  border: 1px solid black;
  position: absolute;
  top: 0;
  left: 0px;
  right: 0px;
  background-color: #FAFAFA;
  border: 0.5px solid #E3E3E3;
}
a {
  text-decoration: none;
}
body {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  padding-left: 140px;
  padding-top: 115px;
}
footer a {
  color: #8a8a8a;
  padding: 10px;
}
.header_logo_search_notifictions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 20px;
}
.logo img {
  max-width: 115px;
  height: auto;
  padding-top: 5px;
  padding-right: 20px;
}
.container_search_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 630px;
  height:45px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
.search_box {
  order: 1;
  flex-grow: 8;
  height:35px;
  border: none;
}
.search_box_buttons {
  order: 2;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding-top: 2px;
}
.google_mic img {
  max-width: 14px;
  height: auto;
  order: 3;
  flex-grow:1;S
}
.google_glass img {
  max-width: 18px;
  height: auto;
  order: 4;
  flex-grow:1;
  padding-right: 10px;
}
.button_section {
  padding-left: 740px;
}
.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-bottom: 15px;
}
.header_nav a {
  color: #8a8a8a;
  font-size: 13px;
}
.nav_section_one {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding-left: 160px
}
.nav_section_one a{
  padding: 15px;
}
.nav_section_two {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding-right: 900px
}
.nav_section_two a{
  padding: 15px;
}
.box_content_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  align-content: center;
  width: 640px;
  height:285px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
.list_picture p {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  padding-left: 25px;
  line-height: 18px;
}
.list_picture ol {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 5px;
}
.list_picture a {
  font-size: 14px;
  padding-left: 40px;
  text-decoration: none;
  color: #8a8a8a;
}
.links {
  padding-top: 15px;
  padding-left: 20px;
}
.links a {
  font-size: 18px;
  text-decoration: none;
}
.links p {
  font-size: 14px;
  margin-top: 0px;
  padding-bottom: 5px;
}
.feedback_results {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  width: 640px;
  height:285px;
  padding-top: 18px;
}
.feedback_results a {
  text-decoration: none;
  font-size: 12px;
  color: #8a8a8a;
}
.question_mark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin: 0px;
}
.question_mark img {
  max-height: 22px;
  width:auto;
  padding-right: 10px;
}
.exclamation_mark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin: 0px;
}
.exclamation_mark img {
  max-height: 16px;
  width: auto;
  padding-right: 10px;
}
.body_result {
  padding-left: 25px;
  padding-bottom: 12px;
  font-size: 13px;
  color: #8a8a8a;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 590px;
  height:auto;
  padding-left: 20px;
  padding-top: 25px;
}
.content a {
  font-size: 18px;
  padding: 2px;
}
.content p {
  margin: 0px;
}
.content_link {
  color: #03672C;
  font-size: 14px;
}
.content_body {
  font-size: 13px;
  line-height: 18px;
  color: #555555;
}
.content_body a {
  font-size: 13px;
  line-height: 18px;

}
.bottom_link_parent {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  max-width: 630px;
  height: auto;
  padding-left: 20px;
  padding-top: 20px;
}
.bottom_links {
  display: flex;
  line-height: 28px;
}
.bottom_links a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
.bottom_heading {
  font-size: 18px;
}
.parent_bottom_google {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 630px;
  height:auto;
  padding-top: 30px;
}
.bottom_image_div {
  height: 42px;
  width: 276;
}
.number_links  {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  margin-right: 45px;
  margin-left: 30px;
}
.number_links a {
  text-decoration: none;
  font-size: 13px;
  padding-left: 5px;
  color: #4885ed;
}
.bottom_arrow_next {
  padding-left: 5px;
}
.img_arrow {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  height: 42px;
  width: 276;
}
.next_link a {
  text-decoration: none;
  font-size: 13px;
  color: #4885ed;
}


footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #FAFAFA;
  color: #8a8a8a;
}
.footer_div {
  padding-left: :
}
.SA {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  border: 0.5px solid #E3E3E3;
  padding-left: 15px;
}
.footer p {
  font-size: 15px;
}
.footer_links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.footer_links a {
  text-decoration: none;
  font-size: 13px;
  padding : 15px;
  color: #8a8a8a;
}


#first_content_box {
  padding-top: 40px;
}
#avatar {
  display: inline-block;
  vertical-align: middle;
  max-width:30px;
  height: auto;
  padding: 6px;
}
#left_avatar {
  display: inline-block;
  vertical-align: middle;
  max-width:20px;
  height: auto;
  padding: 6px;
}
#web_linked_image {
  float: right;
  clear: left;
  margin: 0;
}
