header {
  border: 1px solid black;
  position: absolute;
  top: 0;
  left: 0px;
  right: 0px;
  background-color: #FAFAFA;
  border: 0.5px solid #E3E3E3;
}
a {
  text-decoration: none;
  color: #8a8a8a;
  font-size: 13px;
  font-family: "Arial";
}
footer a {
  color: #8a8a8a;
  padding: 10px;
}


.header_logo_search_notifictions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 20px;
}

.logo img {
  max-width: 115px;
  height: auto;
  padding-top: 5px;
  padding-right: 20px;
}

.container_search_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 630px;
  height:45px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.search_box {
  order: 1;
  flex-grow: 8;
  height:35px;
  border: none;
}

.search_box_buttons {
  order: 2;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding-top: 2px;
}

.google_mic img {
  max-width: 14px;
  height: auto;
  order: 3;
  flex-grow:1;S
}

.google_glass img {
  max-width: 18px;
  height: auto;
  order: 4;
  flex-grow:1;
  padding-right: 10px;
}

.button_section {
  padding-left: 740px;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-bottom: 15px;
}

.nav_section_one {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding-left: 160px
}

.nav_section_one a{
  padding: 10px;
}

.nav_section_two {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding-right: 900px
}

.nav_section_two a{
  padding: 10px;
}
























.footer {
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0px;
  background-color: #FAFAFA;
  font-family: "Arial", sans-serif;
  color: #8a8a8a;
  font-size: 14px;
}

.border {
  border: 0.5px solid #E3E3E3;
}

.buttons {
  display: inline-block;
  vertical-align: middle;
}


#avatar {
  display: inline-block;
  vertical-align: middle;
  max-width:30px;
  height: auto;
  padding: 6px;
}

#left_avatar {
  display: inline-block;
  vertical-align: middle;
  max-width:20px;
  height: auto;
  padding: 6px;
}

#footer_l {
  float: left;
  margin-left: 22px;
  font-size: 14px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;

}
